<div class="modal-header">
    <h3>Add New Photo</h3>
</div>
<div class="modal-body">
    <form ng-show="!saving" novalidate class="simple-form">
		Photo URL: <input type="text" placeholder="Link to the photo..." ng-model="photo.photo_link" /><br />
		Description: <br />
 		<textarea placeholder="Description of the photo.." ng-model="photo.description" rows="4" cols="50" /><br />
	</form>
	<div ng-show="saving">
		Saving ...
	</div>
</div>
<div ng-show="!saving"  class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>